name: Backup Branch Creation

on:
  push:
    branches:
      - PoC

jobs:
  create-pr-branch:
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create a new branch based on the Dev branch
        run: |
          git checkout Dev
          git checkout -b "Backup-Dev-Branch"
          git push --set-upstream origin "Backup-Dev-Branch"


